/*// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)*/

@import "../node_modules/bootstrap/scss/bootstrap";

/*// Then add additional custom code here*/

.tm-color {
	background-color: rgba(20, 47, 64, 1);

}

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	/*height: 68.5vh;*/
	height: 80%;
}

.cContainer1 {
	width: 100%;
	height: 75vh;
	background-color: #142F40;
}

.cContainer2 {
	width: 100%;
	height: 75vh;
	background-color: #806C32;
}

.cContainer3 {
	width: 50%;
	border-radius: 25px;
	background-color: #142F40;
	color: grey;
}

.nav-link {
	color: white;
}

.cCard {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 50%;
	border-radius: 25px;
	background-color: #142F40;
	color: grey;
	box-shadow: 10px,10px white;
}

.highLight {
	color: white;
	font-weight: bold;
}