@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Courgette&display=swap');

.custom-font {
	font-family: 'Caveat', cursive;
}

.custom-font2 {
    font-family: 'Montserrat';
}

h3 {
	font-family: 'Montserrat';
}

.heavy-font {
	font-weight: bold;
}

.custom-size {
	font-size: 1.5rem;
}

.custom-size2 {
	font-size: 1.75rem;
}

.custom-size-nav {
	font-size: 1.2rem;
}

.bg-custom {
	color: #3D4D66;
}

.card-custom {
	color: #576375;
}

.custom-color {
	color: white;
}
 .item-box {
 	
	width: 320px;
	padding: 10px;
	margin: 0;
	justify-content: center;
 }

 .col {
 	padding: 10px;
 }

 .item-box-hover:hover {
 	transition: transform .75s;
 	transform: scale(1.75);
 }

.ecwid-productBrowser {
 	border-radius: 20px;
 	font-family: 'Caveat', cursive;
 	opacity: 0.75;
 }

 .smart-font {
 	font-family: 'Montserrat', sans-serif;
 }

 .page-title__name, .ec-header-h1, .product-details__product-title, .ec-header-h3, .card-text, .text-center{
 	font-family: 'Montserrat', sans-serif;
 }

 .page-title__name, .ec-header-h1 {
 	display: flex;
 	justify-content: center;
 }

 .box-top {
 	border-top-left-radius: 20px;
 	border-top-right-radius: 20px;
 }

.label-text {
    color: black;
}

.bg-primary {
    color: #3D4D66;
}

.custom-edit {
    opacity: 0.82;
}